{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 80,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react(.*)", "<THIRD_PARTY_MODULES>", "@/(.*)", "^[./]"],
  "importOrderSeparation": true
}
